<app-success-msg *ngIf="showConfirm;else cart" [userInfo]="userInfo"></app-success-msg>

<ng-template #cart>
<div class="cart-container">
    <div class="cart-panel">
        <div class="cart-item" *ngFor="let item of itemsList" >
            <img src="{{item.image}}">
            <div class="cart-item-details">
                <h1>{{item.title}}</h1>
                <p>{{item.price}}</p>
                <label>Amount:</label>
                <input #quantity type='number' name='quantity' class='qty' value="{{item.number}}" (click)="updateTotal(item.id, quantity.value)"/>

            </div>
        </div>
        <h1>Total: ${{totalCost}}</h1>
    </div>
    <form>
        <label>Full name</label>
        <input type="text" (keyup)="getName($event)">
        <label>Address</label>
        <input type="text" (keyup)="getAddress($event)">            
        <label>Credit card number</label>
        <input type="text" (keyup)="getCardNumber($event)">            
        <input type="submit" (click)="sendForm()">
    </form>

</div>
</ng-template>